@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~/assets/fonts/CircularSpUIv3T-Book.woff2') format('woff2');
}

@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~/assets/fonts/CircularSpUIv3T-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('~/assets/fonts/CircularSpUIv3T-Black.woff2') format('woff2');
}